.header{
    font-size: 40px;
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: capitalize;
    text-align: center;
    justify-content: center;
    text-decoration: underline;
}
nav{
    margin: auto;
    padding: 10px;
    margin-right: 0cm;
}
nav>ul{
    text-align: right;
    
}
nav>ul>li>a {
    text-decoration: darkturquoise;
}
ul>li{
        display: inline-block;
        text-align:right;
        font-size: 30px;
        margin-right: 5px;
        color: rgb(11, 218, 245);
        /* background-color: gold; */
        font-style: inherit;
}
header{
    background-attachment: fixed;
    background-color:blueviolet;
}
nav>ul>li {
    background-color:whitesmoke;
}
table, th, td {
    border: 1px solid black;

  }
  table{
      background-color: cyan;
      font-size: 20px;
      
  }
  th {
      font-style: inherit;
      color: navy;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font: outline;
      font-weight: bold;
      font-size: 40px;
  }
  body{
      background-image: url("https://bit.ly/36YSWtV");
      background-size: cover;
      height: 1000px;
      /* background-attachment: fixed;  grid-template-columns: auto auto auto;
 */
 
      background-repeat: no-repeat;
      display: grid;
  
    }

  h3 {
      font-size: 40px;
      text-align: center;
      color: orchid;
      font-stretch: inherit;

  }
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    
  }
  .container {
    position: relative;
    width: 25%;
  }
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgb(69, 69, 73);
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .7s ease;
  }
  .shot {
      width: 100%;
      height: 100%;
  }
  .container:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  .flexing {
      display:flex;
      /* justify-content: space-between; */
      border-image: 15px;
      /* padding: 12px; */
      
  }
  .image{
      width: 100%;
      height: 100%;
      float: right;
  }
  #pass{
      color:#0000ff;
      font-size: 20px;
  }
  .write{
      font-size: 20px;
      color:cornflowerblue;
  }
  #footer{
      background-color: darkmagenta;
      text-align: center;
      justify-content: flex-start;
      padding: 25px 0px;
      /* width: 100% !important; */
      /* display: grid; */
      margin: 0px -2px !important;
      /* grid-template-columns: auto auto auto; */
    }

    .card {
        box-shadow: 5px 5px 5px grey;
    }