.header{
    font-size: 40px;
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: capitalize;
    text-align: center;
    justify-content: center;
    text-decoration: underline;
    width: auto;
}
nav{
    margin: auto;
    padding: 10px;
    margin-right: 0cm;
}
nav>ul{
    text-align: right;
    
}
nav>ul>li>a {
    text-decoration: darkturquoise;
}
ul>li{
        display: inline-block;
        text-align:right;
        font-size: 30px;
        margin-right: 5px;
        color: rgb(11, 218, 245);
        /* background-color: gold; */
        font-style: inherit;
}
header{
    background-attachment: fixed;
    background-color:blueviolet;
}
nav>ul>li {
    background-color:whitesmoke;
}
/* body {
    
} */
body {
    background-image: url("https://bit.ly/2tvQiOE") ;
    background-size: cover;
    height: 1200px;

}
h1{
    text-align: center;
    text-shadow: darkslateblue;
    text-transform: uppercase;
    padding: 15px;
    color: darkslategrey;
}
.tape {
    display: flex;
}

.tape img {
    box-shadow:5px 5px 5px blue;
}

.tape img:hover {
    box-shadow: 10px 10px 10px blue;
}
#write{
    font-size: 20px;
    text-decoration: black;
    font-style: italic;
    font-weight: bold;
    padding: 50px;
    color: magenta;
}
.sike {
    float: right;
    justify-content: right;
    /* display: flex; */
}
.image{
    float: right;
    box-shadow: 5px 5px 5px blue;
}

.image:hover {
    box-shadow: 10px 10px 10px blue;
}